*{
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
button{
    padding: 15px;
    margin: 20px;
    border-radius: 18px;
    border: none;
    transform: scale(1);
}
button:hover{
    transform: scale(1.2);
    transition-delay: 0.1s;
}